<div class="cats">
  <%=
    header(1,
      %Q{Show me all cats (<a href="#{uri_to_own_all_cats}">Own all cats!</a>) (<a href="#{uri_to_drop_all_cats}">Drop them all!</a>)},
      'show-me-all-cats')
  %>

  <div class="cats_filters">
    <table>
      <tr>
        <td class="for">
          <label for="for_against_all">
            <input type="radio" id="for_against_all" name="for_against" value="all"
             onchange="roll(this)" <%= checked_for_against('all') %>>
            All
          </label>
          <label for="for_against_any">
            <input type="radio" id="for_against_any" name="for_against" value="any"
             onchange="roll(this)" <%= checked_for_against('any') %>>
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Specialization</strong></div>
          <% BattleCatsRolls::Filter::Specialization.keys.each do |type| %>
            <label for="<%= type %>">
              <input type="checkbox" name="against" id="<%= type %>"
               value="<%= type %>" onchange="roll(this)"
               <%= checked_against(type) %>>
              <%= l10n(type.capitalize) %>
            </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_buff_any">
            <input type="radio" id="for_buff_any" name="for_buff" value="any"
             onchange="roll(this)" <%= checked_for_buff('any') %>>
            Any
          </label>
        </td>
        <td class="filter">
          <div><strong>Buff</strong></div>
          <% BattleCatsRolls::Filter::Buff.keys.each do |buff| %>
          <label for="<%= buff %>">
            <input type="checkbox" name="buff" id="<%= buff %>"
             value="<%= buff %>" onchange="roll(this)"
             <%= checked_buff(buff) %>>
            <%= l10n(buff.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
        <td>
          <label for="for_resistant_and">
            <input type="radio" id="for_resistant_and" name="for_resistant" value="and"
             onchange="roll(this)" <%= checked_for_resistant('and') %>>
            And
          </label>
          <label for="for_resistant_or">
            <input type="radio" id="for_resistant_or" name="for_resistant" value="or"
             onchange="roll(this)" <%= checked_for_resistant('or') %>>
            Or
          </label>
        </td>
        <td class="filter">
          <% BattleCatsRolls::Filter::Resistant.keys.each do |resistant| %>
          <label for="<%= resistant %>">
            <input type="checkbox" name="resistant" id="<%= resistant %>"
             value="<%= resistant %>" onchange="roll(this)"
             <%= checked_resistant(resistant) %>>
            <%= l10n(resistant.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_control_all">
            <input type="radio" id="for_control_all" name="for_control" value="all"
             onchange="roll(this)" <%= checked_for_control('all') %>>
            All
          </label>
          <label for="for_control_any">
            <input type="radio" id="for_control_any" name="for_control" value="any"
             onchange="roll(this)" <%= checked_for_control('any') %>>
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Control</strong></div>
          <% BattleCatsRolls::Filter::Control.keys.each do |control| %>
          <label for="control_<%= control %>">
            <input type="checkbox" name="control" id="control_<%= control %>"
             value="<%= control %>" onchange="roll(this)"
             <%= checked_control(control) %>>
            <%= l10n(control.capitalize) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_immunity_all">
            <input type="radio" id="for_immunity_all" name="for_immunity" value="all"
             onchange="roll(this)" <%= checked_for_immunity('all') %>>
            All
          </label>
          <label for="for_immunity_any">
            <input type="radio" id="for_immunity_any" name="for_immunity" value="any"
             onchange="roll(this)" <%= checked_for_immunity('any') %>>
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Immunity</strong></div>
          <% BattleCatsRolls::Filter::Immunity.keys.each do |immunity| %>
          <label for="immunity_<%= immunity %>">
            <input type="checkbox" name="immunity" id="immunity_<%= immunity %>"
             value="<%= immunity %>" onchange="roll(this)"
             <%= checked_immunity(immunity) %>>
            <%= l10n(immunity.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_counter_all">
            <input type="radio" id="for_counter_all" name="for_counter" value="all"
             onchange="roll(this)" <%= checked_for_counter('all') %>>
            All
          </label>
          <label for="for_counter_any">
            <input type="radio" id="for_counter_any" name="for_counter" value="any"
             onchange="roll(this)" <%= checked_for_counter('any') %>>
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Counter</strong></div>
          <% BattleCatsRolls::Filter::Counter.keys.each do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="counter" id="<%= filter %>"
             value="<%= filter %>" onchange="roll(this)"
             <%= checked_counter(filter) %>>
            <%= l10n(filter.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="for">
          <label for="for_having_all">
            <input type="radio" id="for_having_all" name="for_having" value="all"
             onchange="roll(this)" <%= checked_for_having('all') %>>
            All
          </label>
          <label for="for_having_any">
            <input type="radio" id="for_having_any" name="for_having" value="any"
             onchange="roll(this)" <%= checked_for_having('any') %>>
            Any
          </label>
        </td>
        <td class="filter" colspan="3">
          <div><strong>Having</strong></div>
          <% BattleCatsRolls::Filter::Having.keys.each do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="having" id="<%= filter %>"
             value="<%= filter %>" onchange="roll(this)"
             <%= checked_having(filter) %>>
            <%= l10n(filter.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="cats_listing">
  <% each_cats_by_rarity(arg[:cats_by_rarity]) do |rarity, cats| %>
    <%= header(2, BattleCatsRolls::Cat.wiki_rarity_label(rarity)) %>
    <div class="cats_by_rarity">
      <% cats.reverse_each do |c| %>
      <label for="cat-<%= c.id %>">
        <input type="checkbox" onchange="roll(this)"
          name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
          <%= checked_cat(c) %>>
        <%= link_to_roll(c) %>
      </label>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
