<div class="cats">
  <%=
    header(1,
      %Q{Show me all cats (<a href="#{uri_to_own_all_cats}">Own all cats!</a>) (<a href="#{uri_to_drop_all_cats}">Drop them all!</a>)},
      'show-me-all-cats')
  %>

  <div class="cats_filters">
    <table>
      <tr>
        <th class="for" rowspan="2">
          <label for="for_against_all">
            <input type="radio" id="for_against_all" name="for_against" value="all"
             onchange="roll(this)" <%= checked_for_against('all') %>>
            All
          </label>
          <label for="for_against_any">
            <input type="radio" id="for_against_any" name="for_against" value="any"
             onchange="roll(this)" <%= checked_for_against('any') %>>
            Any
          </label>
        </th>
        <th class="top">Against</th>
      </tr>
      <tr>
        <td class="bot">
          <% BattleCatsRolls::Ability::Specialization::List.each do |type| %>
            <label for="<%= type %>">
              <input type="checkbox" name="against" id="<%= type %>"
               value="<%= type %>" onchange="roll(this)"
               <%= checked_against(type) %>>
              <%= l10n(type.capitalize) %>
            </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="for" rowspan="2">
          <label for="for_buff_any">
            <input type="radio" id="for_buff_any" name="for_buff" value="any"
             onchange="roll(this)" <%= checked_for_buff('any') %>>
            Any
          </label>
        </th>
        <th class="top">Buff</th>
      </tr>
      <tr>
        <td class="bot">
          <% BattleCatsRolls::Filter::Buff.keys.each do |buff| %>
          <label for="<%= buff %>">
            <input type="checkbox" name="buff" id="<%= buff %>"
             value="<%= buff %>" onchange="roll(this)"
             <%= checked_buff(buff) %>>
            <%= l10n(buff.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="for" rowspan="2">
          <label for="for_control_all">
            <input type="radio" id="for_control_all" name="for_control" value="all"
             onchange="roll(this)" <%= checked_for_control('all') %>>
            All
          </label>
          <label for="for_control_any">
            <input type="radio" id="for_control_any" name="for_control" value="any"
             onchange="roll(this)" <%= checked_for_control('any') %>>
            Any
          </label>
        </th>
        <th class="top">Control</th>
      </tr>
      <tr>
        <td class="bot">
          <% BattleCatsRolls::Filter::Control.keys.each do |control| %>
          <label for="<%= control %>">
            <input type="checkbox" name="control" id="<%= control %>"
             value="<%= control %>" onchange="roll(this)"
             <%= checked_control(control) %>>
            <%= l10n(control.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="for" rowspan="2">
          <label for="for_having_all">
            <input type="radio" id="for_having_all" name="for_having" value="all"
             onchange="roll(this)" <%= checked_for_having('all') %>>
            All
          </label>
          <label for="for_having_any">
            <input type="radio" id="for_having_any" name="for_having" value="any"
             onchange="roll(this)" <%= checked_for_having('any') %>>
            Any
          </label>
        </th>
        <th class="top">Having</th>
      </tr>
      <tr>
        <td class="bot">
          <% BattleCatsRolls::Filter::Having.keys.each do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="having" id="<%= filter %>"
             value="<%= filter %>" onchange="roll(this)"
             <%= checked_having(filter) %>>
            <%= l10n(filter.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="cats_listing">
  <% each_cats_by_rarity(arg[:cats_by_rarity]) do |rarity, cats| %>
    <%= header(2, BattleCatsRolls::Cat.wiki_rarity_label(rarity)) %>
    <div class="cats_by_rarity">
      <% cats.reverse_each do |c| %>
      <label for="cat-<%= c.id %>">
        <input type="checkbox" onchange="roll(this)"
          name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
          <%= checked_cat(c) %>>
        <%= link_to_roll(c) %>
      </label>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
