<div class="cats">
  <%=
    header(1,
      %Q{Show me all cats (<a href="#{uri_to_own_all_cats}">Own all cats!</a>) (<a href="#{uri_to_drop_all_cats}">Drop them all!</a>)},
      'show-me-all-cats')
  %>

  <div class="cats_filters">
    <table>
      <tr>
        <th>For</th>
        <th>Against</th>
      </tr>
      <tr>
        <td>
          <label for="for-all">
            <input type="radio" id="for-all" name="for" value="all"
             onchange="roll(this)" <%= checked_for('all') %>>
            All
          </label>
          <label for="for-any">
            <input type="radio" id="for-any" name="for" value="any"
             onchange="roll(this)" <%= checked_for('any') %>>
            Any
          </label>
        </td>
        <td>
          <% BattleCatsRolls::Ability::Specialization::List.each do |type| %>
            <label for="<%= type %>">
              <input type="checkbox" name="against" id="<%= type %>"
               value="<%= type %>" onchange="roll(this)"
               <%= checked_against(type) %>>
              <%= l10n(type.capitalize) %>
            </label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>While</th>
        <th>Having</th>
      </tr>
      <tr>
        <td>
          <label for="while-all">
            <input type="radio" id="while-all" name="while" value="all"
             onchange="roll(this)" <%= checked_while('all') %>>
            All
          </label>
          <label for="while-any">
            <input type="radio" id="while-any" name="while" value="any"
             onchange="roll(this)" <%= checked_while('any') %>>
            Any
          </label>
        </td>
        <td>
          <% BattleCatsRolls::Filter.keys.each do |filter| %>
          <label for="<%= filter %>">
            <input type="checkbox" name="having" id="<%= filter %>"
             value="<%= filter %>" onchange="roll(this)"
             <%= checked_having(filter) %>>
            <%= l10n(filter.capitalize.tr('_', ' ')) %>
          </label>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="cats_listing">
  <% each_cats_by_rarity(arg[:cats_by_rarity]) do |rarity, cats| %>
    <%= header(2, BattleCatsRolls::Cat.wiki_rarity_label(rarity)) %>
    <div class="cats_by_rarity">
      <% cats.reverse_each do |c| %>
      <label for="cat-<%= c.id %>">
        <input type="checkbox" onchange="roll(this)"
          name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
          <%= checked_cat(c) %>>
        <%= link_to_roll(c) %>
      </label>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
