<%= erb :form %>

<ul>
  <li><a href="<%= uri_to_cat_db(arg[:stats].first) %>">にゃんこ大戦争データベース</a></li>
  <li><a href="<%= uri_to_my_gamatoto(arg[:stats].first) %>">My Gamatoto</a></li>
</ul>

<table>
<% arg[:stats].each do |stat| %>
  <tr>
    <th colspan="6"><%= h stat.name %></th>
  </tr>
  <tr>
    <td>Health</td>
    <td><%= stat.health %></td>
    <td>Knockback times</td>
    <td><%= stat.knockbacks %></td>
    <td>Speed</td>
    <td><%= stat.speed %></td>
  </tr>
  <tr>
    <td>Production cost</td>
    <td><%= stat.production_cost %></td>
    <td>Production cooldown</td>
    <td><%= stat_time stat.production_cooldown %></td>
    <td>Rush duration</td>
    <td><%= stat_time stat.rush_duration %></td>
  </tr>
  <tr>
    <td>Attack interval</td>
    <td><%= stat_time stat.attack_interval %></td>
    <td>Attack duration</td>
    <td><%= stat_time stat.attack_duration %></td>
    <td>Attack cooldown</td>
    <td><%= stat_time stat.attack_cooldown %></td>
  </tr>
  <% if !stat.single_area_attack? %>
  <tr>
    <% if stat.attacks.size > 1 %>
    <td>Max damage</td>
    <td><%= stat.max_damage %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
    <td>Range</td>
    <td><%= stat.range %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <% if stat.attacks.size > 1 %>
  <tr>
    <td>Max DPS</td>
    <td><%= stat.max_dps || '?' %></td>
    <td>Max DPS range</td>
    <td><%= stat.max_dps_range %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <% stat.attacks.each do |attack| %>
  <tr>
    <td>Damage</td>
    <td><%= attack.damage %></td>
    <td>Area</td>
    <td><%= attack.area %></td>
    <td>Apply effects</td>
    <td><%= attack.apply_effects %></td>
  </tr>
  <tr>
    <td>DPS</td>
    <td><%= attack.dps || '?' %></td>
    <td>Duration</td>
    <td><%= stat_time attack.duration %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
<% end %>
</table>
